.topbar {
    background: #025;
}


body {
    font-size: 0.8em;
    font-family: "Lucida Console", Monaco, monospace;
}

/* text in the tab selector */
.tabrow {
    font-family: "Lucida Console", Monaco, monospace;
}

/* widgets text properties */
.ui-widget {
    font-family: "Lucida Console", Monaco, monospace;
}

/* page background */
.allcontent {
    background: url('../img/noise.png');
}