html /deep/ [autofocus] {
    color: #03a9f4;
}

html /deep/ .size-position {
    position: fixed;
    top: auto;
    right: auto;
}

html /deep/ .size-position::shadow #scroller {
    width: 500px;
    height: 305px;
}

.fa-question-circle {
    background-color: transparent; border: none;
    margin-top: -3px;
}

.fa-times {
    background-color: transparent;
    border: none;
    font-size: 1.3em;
    margin-left: 3px;
}

#buttonParam{
    background-color: transparent;
    border: none;
}

.size-position ol {
    -webkit-padding-start: 10px;
    -moz-padding-start: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.1em;
    font-weight: 600;
}
.size-position li {
    -webkit-margin-start: 35px;
    font-size: 1em;
    font-weight: normal;
}
.size-position h3 {
    margin-top: 0;
    text-align: center;
}

#divMongodb{
    display: none;
}

#table {
    background-color: #ffffff;
    width: 100%;
    padding: 15px;
}

.user-bar, .user-side {
    display: none;
}